    #about-h2 {
        padding-bottom: 1.5em;
    }

    #about-main {
        padding-bottom: 2em;
    }

    #add-main {
        padding-bottom: 3.5em;
    }

    #dtt {
        opacity: 70%;
        color: #067Bc2;
    }

    .about-main {
            margin-top: 7em;
        }

    footer {
        display: flex;
        align-items: center;

        #about-logo {
            width: 210px;
            margin-right: 2.5em;
        }
    }
